<%- include("header") %>

<h1>hey this is a todo list hope you like</h1>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur recusandae repellat, laborum vel neque iste sunt ratione. At recusandae excepturi vel dignissimos possimus adipisci, voluptatum nemo nisi dicta saepe voluptate.</p>

<%- include("footer") %>
